<!-- modelType/templates/modelType/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Home Group</th>
                <th colspan="3">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.home_group }}</td>
                    <td><a href="http://">EDIT</a>  </td>
                    <td><a href="http://">DELETE</a>  </td>
                    <td><a href="{% url 'student_detail' pk=student.pk %}">DETAIL</a></td>
                    <!-- <td><a href="{% url 'student_detail' student.pk %}">DETAIL</a></td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
